.main-list-order {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg,
            #000000 0%,
            #1b1b1b 10%,
            #212121 48%,
            #eb8f25 94%,
            #eb8f25 100%);

    .modal-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
    }

    .modal-box {
        background: #fff;
        padding: 20px;
        width: 350px;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        position: relative;

        > div:nth-child(1) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            
            button {
               background-color: transparent;
               padding: 2px 4px;
               border: 2px solid #eb8f25;
               border-radius: 2px;
               color: #eb8f25;
               font-weight: bold;
               cursor: pointer;
            }
        } 
    }

    .modal-box h2 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .close-btn {
        position: absolute;
        top: 12px;
        right: 12px;
        background: #eee;
        border: none;
        padding: 6px 10px;
        border-radius: 6px;
        cursor: pointer;
        transition: background 0.2s;
    }

    .close-btn:hover {
        background: #ddd;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        button  {
            background-color: #eb8f25;
            color: white;
            border: none;
            padding: 5px;
            border-radius: 6px;
            cursor: pointer;
        }
    }

    .content select {
        width: 100%;
        padding: 10px 12px;
        border-radius: 8px;
        background: #fff;
        font-size: 16px;
        outline: none;
        transition: border 0.2s ease;
    }

    .content select:focus {
        border-color: #f28c28;
    }



}

.order-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    box-shadow: none;

    .header-list-orders {
        width: 80%;
        margin-left: 5px;
        margin-top: 110px;

        h1 {
            color: #fff;
            font-family: "Albert Sans", sans-serif;
            font-size: 35px;
        }
    }

    .table-order {
        max-height: 550px;
        overflow: auto;
        display: flex;
        align-items: center;
        margin-top: 5%;
        border-collapse: collapse;
        border-radius: 8px;

        table {
            margin: 0 auto;
            border-collapse: collapse;

            &::-webkit-scrollbar {
                background: red;
            }
        }

        th,
        td {
            padding: 12px 16px;
            font-family: "Albert Sans", sans-serif;
            text-align: center;
            border: 1px solid #fff;
            color: #fff;
        }

        thead {
            background-color: #f28c28;
        }

        tbody tr {
            background-color: #f28c28;
        }

        a {
            color: #fff;
            text-decoration: underline;
        }

        input[type="checkbox"] {
            height: 20px;
            width: 20px;
            cursor: pointer;
        }
    }
}