.cart-container {
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    height: 100vh;
    width: 100%;
    font-family: 'inter';

    background-color: #6c6c6c51;
    position: fixed;

    .cart {
        min-width: 350px;
        background-color: white;

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;
            background-color: #EB8F25;
            padding: 10px 20px;

            div {
                display: flex;
                align-items: center;
                gap: 20px;
                font-weight: bold;
            }
        }

        >.content {
            display: flex;
            flex-direction: column;
            height: 94%;
            justify-content: space-between;

            .items {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 20px;

                max-height: 600px;
                overflow: auto;
                overflow-x: hidden;

                &::-webkit-scrollbar {
                    width: 6px;
                }

                &::-webkit-scrollbar-thumb {
                    width: 6px;
                    background-color: #c2c2c2;
                }
            }

        }

        .cart-summary {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            min-height: 350px;

            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 20px;
            box-shadow: 1px 1px 3px 1px #9c9c9ca0;

            .shipping-calculator {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
                box-shadow: 1px 1px 3px 1px #9c9c9ca0;
                padding: 10px 20px;
                border-radius: 10px;

                .input-buttom {
                    display: flex;
                    gap: 20px;

                    input,
                    button {
                        border-radius: 8px;
                        outline: none;
                    }

                    input {
                        padding: 8px 10px;
                        border: 1px solid #A1A1A1;
                        width: 65%;
                        color: #525252;
                    }

                    button {
                        padding: 8px 25px;
                        border: 1px solid #EB8F25;
                        color: #EB8F25;
                        background-color: transparent;
                        cursor: pointer;
                    }
                }
            }

            .address {
                font-size: 14px;
                display: flex;
                flex-direction: column;
                width: 100%;
                box-shadow: 1px 1px 3px 1px #9c9c9ca0;
                border-radius: 15px;

                >div {
                    display: flex;
                    align-items: center;
                }

                #free {
                    color: #0F7C10;
                }

                .address-value {
                    gap: 10px;
                    border-radius: 16px;
                    box-shadow: 1px 2px 3px 1px #9c9c9ca0;
                    padding: 10px 20px;
                }

                >div:not(.address-value) {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 20px;
                    color: rgba(0, 0, 0, 0.700);

                    div {
                        display: flex;
                        gap: 10px;
                    }
                }
            }


            .total {
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: space-between;
                gap: 10px;

                div {
                    font-weight: bold;
                    display: flex;
                    justify-content: space-between;
                }

                button {
                    background-color: #EB8F25;
                    font-weight: bold;
                    border: 1px solid #EB8F25;
                    border-radius: 8px;
                    color: white;
                    padding: 10px;
                    font-size: 17px;
                    cursor: pointer;
                }
            }
        }
    }
}