.container-summary {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    max-height: 100%;

    > h1 {
        font-size: 25px;
    }

    .item {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 17px;
        font-weight: bold;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        padding: 20px 40px;
        border-radius: 30px;

        img {
            width: 80px;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 85px;
        }
    }

    .prices {
        display: flex;
        flex-direction: column;
        gap: 10px;

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        div:nth-child(2) {
            p:nth-child(2) {
                color: rgb(0, 214, 0);
            }
        }
    }

    > button {
        background-color: #EB8F25;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer;
    }

    >button:hover {
        transform: scale(1.04);
        opacity: 90;
    }

    >button:active {
        transform: scale(1);
    }

}