.order {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding: 120px 90px 40px 80px;

    .back-icon {
        margin-top: 20px;
        width: 40px;
        height: 40px;
    }

    .address {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width: 800px;
        padding: 2rem;
        border-radius: 12px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        min-width: 750px;
        h2 {
            font-size: 1.6rem;
            font-weight: 700;
            color: #000;
        }

        .add-endereco {
            background: none;
            border: none;
            color: #f7931e;
            font-weight: 600;
            cursor: pointer;
            transition: color 0.3s ease;

            &:hover {
                color: #d9790f;
            }
        }
    }

    .next {
        background-color: #f7931e;
        color: #fff;
        font-weight: 600;
        border: none;
        border-radius: 8px;
        padding: 0.8rem 1.5rem;
        font-size: 1rem;
        cursor: pointer;
        align-self: center;
        transition: background 0.3s ease, transform 0.1s ease;

        &:hover {
            background-color: #d9790f;
        }

        &:active {
            transform: scale(0.98);
        }
    }

    .next:disabled {
        background-color: #aaa;
    }
}
