#Gallery{
    .Gallery-nav{
        display: flex;
        font-size: larger;
        align-items: center;
        justify-content: center;
        height: 10vh;
    }

    .Gallery-images{
        border: dashed 5px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        p{
            font-size: larger;
        }
    }

    .Gallery-aside{
        display: flex;
        flex-direction: row;
        background-color: purple;
        gap: 5%;
        

        img{
            width: 20%;
            height: 20%;
        }
    }
}