.swiper-pagination-progressbar-fill {
    background-color: #EB8F25 !important;
}

.container_register {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 50%;
        color: white;
        background-color: #EB8F25;
        border-top-right-radius: 230px;
        border-bottom-right-radius: 230px;
        padding: 20px 60px;

        h1,
        p {
            text-align: center;
        }

        >p {
            font-size: 22px;
        }

        img {
            width: 200px;
        }

        button {
            border: 2px solid white;
            background-color: transparent;
            border-radius: 10px;
            padding: 10px;
            color: white;
            width: 30%;
            min-width: 200px;
            max-height: 400px;
            font-size: 16px;
            cursor: pointer;
            transition: 0.3s;

        }

        button:hover {
            background-color: white;
            color: #EB8F25;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        color: #2c2c2c;

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            width: 100%;
            overflow: hidden;
            gap: 20px;

            #sub-title {
                font-size: 20px;
                font-weight: 500;
                padding-bottom: 10px;
                text-decoration: underline;
            }

            .copy-address {
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: row;
                gap: 10px;

                input {
                    width: 15px;
                    height: 15px;
                }
            }

            >img {
                cursor: pointer;
                width: 40px;
                margin-left: 50px;
            }

            >div {
                margin: 0 auto;
                max-height: 490px;
                display: flex;
                flex-direction: column;
                width: 70%;
                overflow: auto;

                >div {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
            }

            p#message-false {
                visibility: hidden;
                font-size: 11px;
                height: 15px;
                position: relative;
            }

            p#message-true {
                visibility: visible;
                font-size: 11px;
                color: red;
                height: 15px;
                position: relative;
            }

            .gender-birthOfDay {
                flex-direction: row;
                justify-content: space-between;
                gap: 40px;

                div {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 5px;
                }
            }

            input,
            select {
                border: 1px solid #a0a0a0;
                border-radius: 5px;
                width: 100%;
                outline: none;
                padding: 10px;
                transition: 0.3s;
                color: #2c2c2c;
            }

            input:focus,
            select:focus {
                border: 1px solid #EB8F25;
            }

            button {
                margin: 0 auto;
                width: 60%;
                border-radius: 5px;
                border: none;
                outline: none;
                padding: 10px;
                color: white;
            }

            button:enabled {
                background-color: #EB8F25;
                cursor: pointer;
            }

            button:disabled {
                background-color: rgb(182, 182, 182);
            }
        }
    }

    #loader {
        margin: 0 auto;
        width: 100px;
    }
}