.mainzona{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    180deg,
    #000000 0%,
    #1b1b1b 10%,
    #212121 48%,
    #eb8f25 94%,
    #eb8f25 100%
  );
}


.cabesao{
    margin-top: 2%;
    color: white;
    height: 10%;
    font-size: 20px;
    width: 90%;
    margin-bottom: 13%;
}

.botoes-juntos{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
width: 90%;
height: 15%;
}

.botoes-juntos > button{
  width: 35%;
  height: 40%;
  border-radius: 10px;
  border: none;
  background-color: #eb8f25;
  color: white;
  font-size: 17px;
    cursor: pointer;
}

.botoes-juntos > button:hover {
  background: linear-gradient(to bottom, #ff9900, #ff5500);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}
.botoes-juntos > button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.botao-loneny{
display: flex;
width: 90%;
height: 15%;
align-items: center;
justify-content: center;
}

.botao-loneny > button{
  width: 35%;
  height: 40%;
  border-radius: 10px;
  border: none;
  background-color: #eb8f25;
  color: white;
  font-size: 17px;
    cursor: pointer;
}

.botao-loneny > button:hover {
  background: linear-gradient(to bottom, #ff9900, #ff5500);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}
.botao-loneny > button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
