* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 0px !important;
}


@font-face {
  font-family: 'AlbertSans-Bold';
  src: url('./assets/fonts/AlbertSans/AlbertSans-Bold.ttf');
}

@font-face {
  font-family: 'AlbertSans-medium';
  src: url('./assets/fonts/AlbertSans/AlbertSans-Medium.ttf');
}

@font-face {
  font-family: 'inter';
  src: url('/public/fonts/inter/Inter/Inter-VariableFont_opsz\,wght.ttf');
}