* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #EB8F25;
}

@font-face {
  font-family: 'AlbertSans-Bold';
  src: url('./assets/fonts/AlbertSans/AlbertSans-Bold.ttf');
}

@font-face {
  font-family: 'AlbertSans-medium';
  src: url('./assets/fonts/AlbertSans/AlbertSans-Medium.ttf');
}